<style>
    .gft-btn-activityDetail {
        margin: 0 20px;
    }

    .gft-img-comment-header {
        width: 36px;
        height: 36px;
    }
</style>
<div id="vue-list" class="gf-grandfather-container" v-cloak>
    <div class="gft-user-center-main-container">
        <el-row :gutter="20">
            <el-col :span="18">
                <div class="gf-standard-container">
                    <div class="gf-font-title">基本信息</div>
                    <div class="gft-activity-list">
                        <div class="gft-activity-list-item">
                            <el-row :gutter="30" type="flex" justify="space-around">
                                <img :src="activityDetail.img_path" class="gf-img-cover">
                                <el-col style="width: calc(100% - 220px)">
                                    <div class="gf-list-subtitle gf-content-limited-single gf-font-subtitle">
                                        ${activityDetail.activity_title}
                                    </div>
                                    <div class="gf-font-minor">
                                        ${activityDetail.start_time} - ${activityDetail.end_time}
                                    </div>
                                    <div class="gf-font-minor">
                                        ${activityDetail.meeting_place}
                                    </div>
                                    <!--<div class="gf-font-minor">-->
                                        <!--{activityDetail.meeting_place}-->
                                    <!--</div>-->
                                </el-col>
                            </el-row>
                        </div>
                    </div>
                    <div class="gf-font-title">活动简介</div>
                    <div style="margin:20px 0 30px 0;">
                        <div class="gf-font-default">
                            ${activityDetail.activity_intro}
                        </div>
                    </div>
                    <div class="gf-font-title">活动详情</div>
                    <div style="margin-bottom: 30px">
                        <div class="gf-step-list-container">
                            <el-collapse v-model="activeNames" @change="handleChange">
                                <el-collapse-item :title="stepItem.step_name"
                                                  v-for="(stepItem,index) in activityDetail.activity_step_list"
                                                  :name="index"
                                                  :key="index">
                                    <div class="gf-font-minor">${stepItem.start_time} - ${stepItem.end_time}</div>
                                    <div class="gf-font-default">${stepItem.step_detail}</div>
                                </el-collapse-item>
                            </el-collapse>
                        </div>
                    </div>
                    <div style="margin-bottom: 30px">
                        <el-row type="flex" justify="center" align="middle">
                            <div class="gf-btn-standard gft-btn-activityDetail" @click="joinActivity()">立即参加</div>
                            <div class="gf-btn-standard gft-btn-activityDetail" @click="followActivity()">收藏</div>
                        </el-row>
                    </div>
                    <div class="gf-font-title">评论</div>
                    <div style="margin: 20px 20px 30px 0">
                        <div v-for="commentItem in commentList" style="margin-bottom: 20px">
                            <el-row type="flex" align="middle">
                                <el-row type="flex" align="middle">
                                    <img :src="commentItem.avatar_url"
                                         class="gf-img-user-head-photo gft-img-comment-header">
                                    <div class="gf-font-default gf-font-xs" style="margin-left: 10px">
                                        <div>${commentItem.user_name}</div>
                                        <div class="gf-font-Xlight gf-font-xs">lv.03</div>
                                    </div>
                                </el-row>
                                <div class="gf-align-item" style="margin-left: 20px">
                                    <div class="gf-font-default">
                                        <div>${commentItem.comment_content}</div>
                                        <div class="gf-font-Xlight gf-font-xs" style="margin-top: 5px">${commentItem.comment_time}</div>
                                    </div>
                                </div>
                            </el-row>
                        </div>
                    </div>
                </div>
            </el-col>
            <el-col :span="6">
                <div class="gf-standard-container">
                    <div class="gf-font-title">同好推荐</div>
                    <div style="margin-bottom: 30px">
                        <div class="gf-user-container" style="margin-top: 10px">
                            <div style="padding: 10px 0;" v-for="(userItem,index) in indexUserList">
                                <el-row type="flex" align="middle" justify="space-between">
                                    <el-row type="flex" align="middle">
                                        <div style="width: 60px;">
                                            <img :src="userItem.avatar_url" class="gf-img-user-head-photo" style="width: 60px;height: 60px">
                                        </div>
                                        <div class="gf-user-right-container gf-font-m" style="margin-left:15px;">
                                            <div>${userItem.user_name}</div>
                                            <div class="gf-font-light gf-content-limited gf-font-xs">lv.07</div>
                                        </div>
                                    </el-row>
                                    <el-row type="flex" align="middle">
                                        <el-button type="primary" @click="getAttention(index)" v-if="!userItem.isAttention" size="small">立即关注</el-button>
                                        <el-button  @click="getAttention(index)" v-if="userItem.isAttention" size="small">取消关注</el-button>
                                    </el-row>
                                </el-row>
                            </div>
                        </div>
                    </div>
                    <!--<div style="margin-bottom: 30px">-->
                        <!--<div class="gf-user-container" style="margin-top: 10px">-->
                            <!--<div style="padding: 10px 0;" v-for="userItem in AttentionUserList">-->
                                <!--<el-row type="flex" align="middle">-->
                                    <!--<img :src="userItem.avatar_url" class="gf-img-user-head-photo">-->
                                    <!--<div class="gf-user-right-container gf-font-l">-->
                                        <!--<div>${userItem.user_name}</div>-->
                                        <!--<div class="gf-font-light">${userItem.user_intro}</div>-->
                                    <!--</div>-->
                                <!--</el-row>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="gf-font-title">活动推荐</div>
                    <div style="margin-bottom: 30px;padding-top: 10px;">
                        <div v-for="(activityItem,index) in activityList" class="gf-cursor-pointer" style="padding: 10px 0;">
                            <a @click="goToActivityDetail(index)">
                                <div class="gf-font-subtitle gf-content-limited-single gf-cursor-pointer" style="width: 100%;">${activityItem.activity_title}</div>
                            </a>
                        </div>
                    </div>
                </div>
            </el-col>
        </el-row>
    </div>
</div>
<script type="text/javascript">
    var vm = new Vue({
        el: '#vue-list',
        delimiters: ['${', '}'],
        data: {
            activityDetail: {},
            commentList: [],
            commentNum: 0,
            activeNames: [],
            indexUserList:[],
            activityList:[]
        },
        methods: {
            handleChange:function () {

            },

            getActivityList:function(obj, callback,page_size) {
                var that = this;
                var url = API_SERVER_URL.GREAT_FUN + '/activity/getActivityList';
                if(!page_size){
                    var page_size=0;
                }
                var args = {
                    "args": {
                        "page_size": page_size,
                        "page_index": 1,
                        "start_time": "",
                        "end_time": "",
                        "cost_num_type": 0,
                        "keywords": "",
                        "province_code": "",
                        "city_code": ""
                    }
                };


                axios.post(url, args)
                    .then(function (response) {
//                        console.log(response);
                        var res = response.data;
                        if (res.retcode === 0) {
                            callback(res, obj);
                        } else {
                            console.log(res.message.prompt);
                        }
                    })
                    .catch(function (error) {
                        console.error(error);
                    });
            },

            getActivityComment: function (obj, callback) {
                var that = this;
                var url = API_SERVER_URL.GREAT_FUN + '/activity/getActivityComment';
                var args = {
                    "args": {
                        "activity_id": obj.activityDetail.activity_id,
                        "page_size": 0,
                        "page_index": 1
                    }

                };

                axios.post(url, args)
                    .then(function (response) {
                        var res = response.data;
                        if (res.retcode === 0) {
                            callback(res, obj);
                        } else {
                            console.log(res.message.prompt);
                        }
                    })
                    .catch(function (error) {
                        console.error(error);
                    });
            },

            getIndexUserInfo:function (obj,callback) {
                var that = this;
                var url = API_SERVER_URL.GREAT_FUN + '/indexInfo/getIndexUserInfo';
                var args = {
                    "args": {
                        "user_id": userData.userInfo.user_id
                    }

                };

                axios.post(url, args)
                    .then(function (response) {
                        var res = response.data;
                        if (res.retcode === 0) {
                            callback(res, obj);
                        } else {
                            console.log(res.message.prompt);
                        }
                    })
                    .catch(function (error) {
                        console.error(error);
                    });
            },

            getAttention:function (index) {
                var that=this;
                if(that.indexUserList[index].isAttention){
                    that.indexUserList[index].isAttention=false;
                }else{
                    that.indexUserList[index].isAttention=true;
                }

            },

            goToActivityDetail:function(index){
                var that = this;
                that.choseActivityId = that.activityList[index].activity_id;
                that.getActivityDetail(that, function (res, obj) {
                    obj.activityDetail = res.obj;
                    sessionStorage.setItem('GF_ACTIVITY_DETAIL', JSON.stringify(that.activityDetail));
                    location.href = "/front/web/activity/activityDetail";
                });

            },

            joinActivity:function () {
                var that=this;
                var activityId=that.activityDetail.activity_id;

                var url = API_SERVER_URL.GREAT_FUN + '/activity/followActivity';
                var args = {
                    "args": {
                        "activity_id": activityId,
                        "user_id":  userData.userInfo.user_id
                    }

                };

                if(sessionStorage.getItem('GF_IS_LOGIN')){
                    axios.post(url, args)
                        .then(function (response) {
                            var res = response.data;
                            if (res.retcode === 0) {
                                that.$message({
                                    message: '参加成功',
                                    type: 'success'
                                });
                            } else {
                                console.log(res.message.prompt);
                            }
                        })
                        .catch(function (error) {
                            console.error(error);
                        });
                }else{
                    that.$message({
                        message: '登录后才能参加和收藏哦！',
                        type: 'warning'
                    });
                }
            },

            followActivity:function () {
                var that=this;
                var activityId=that.activityDetail.activity_id;

                var url = API_SERVER_URL.GREAT_FUN + '/activity/followActivity';
                var args = {
                    "args": {
                        "activity_id": activityId,
                        "user_id":  userData.userInfo.user_id
                    }

                };

                if(sessionStorage.getItem('GF_IS_LOGIN')){
                    axios.post(url, args)
                        .then(function (response) {
                            var res = response.data;
                            if (res.retcode === 0) {
                                that.$message({
                                    message: '收藏成功',
                                    type: 'success'
                                });
                            } else {
                                console.log(res.message.prompt);
                            }
                        })
                        .catch(function (error) {
                            console.error(error);
                        });
                }else{
                    that.$message({
                        message: '登录后才能参加和收藏哦！',
                        type: 'warning'
                    });
                }
            },
        },
        created: function () {
            var that = this;
            that.activityDetail = JSON.parse(sessionStorage.getItem('GF_ACTIVITY_DETAIL'));
            that.getActivityComment(that, function (res, callbackObj) {
                callbackObj.commentList = res.obj.comment_list;
                callbackObj.commentNum = res.obj.total;
            });
            that.getIndexUserInfo(that,function (res,callbackObj) {
                callbackObj.indexUserList=res.obj.user_list;
                callbackObj.indexUserList=[
                    {
                        'user_id':'',
                        'user_name':'二傻子',
                        'user_intro':'孩子， 当你出生的时候，洛丹伦的森林轻声唤出了你的名字 阿尔萨斯。 孩子， 我骄傲地看着你一天天长大， 成为正义的化身。 你要记住，我们一直都是以智慧与力量统治这个国家。 我也相信你会谨慎地使用自己强大的力量。 但，真正的胜利， 是鼓舞你的子民心中的斗志。 总有一天， 我的生命将抵达终点， 而你，将加冕为王 ！',
                        'avatar_url':'/public/assets/img/fakerHeader/header_1.png',
                        'isAttention':false,
                    },
                    {
                        'user_id':'',
                        'user_name':'劳拉',
                        'user_intro':'万物皆虚，是指社会文明的基础是脆弱的，我们必须成为自身文明的守护者。万事皆允，是指我们是自身行为的设计者，我们承担自身行为的后果，无论是荣耀，还是悲剧。',
                        'avatar_url':'/public/assets/img/fakerHeader/header_2.png',
                        'isAttention':false,
                    },
                    {
                        'user_id':'',
                        'user_name':'爱娃',
                        'user_intro':'How can you be in hell when you are in my heart。你活在我心中，又怎会落入地狱？',
                        'avatar_url':'/public/assets/img/fakerHeader/header_3.png',
                        'isAttention':false,
                    },
                    {
                        'user_id':'',
                        'user_name':'格林',
                        'user_intro':'我这种地位的女人有两种面孔，一种是给天下看的，一种私人拥有的。',
                        'avatar_url':'/public/assets/img/fakerHeader/header_4.png',
                        'isAttention':false,
                    }];

            });
            var pageSize=5;
            that.getActivityList(that, function (res, callbackObj) {
                callbackObj.activityList = res.obj.activity_list;
                for(var i=0;i<callbackObj.activityList.length;i++){
                    callbackObj.activityList[i].images_path='/public/assets/img/default'+i+'.png';
                }
            },5);
//            that.getIndexUserInfo(that,function (res, callbackObj) {
//
//            });

            console.log(that);
//            that.getActivityDetail(that,function (res,callbackObj) {
//                callbackObj.activityDetail=res.obj;
//            });
        }
    });
</script>