<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>聚·好玩o(≧ω≦)o</title>
    <link rel="shortcut icon" href="/public/assets/img/logo/greatfun_favicon.ico" type="image/x-icon"/>
    <link rel="icon" type="image/png" href="/public/assets/img/logo/logo_small.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/public/assets/img/logo/logo_small.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/public/assets/img/logo/logo_small.png" sizes="96x96">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://cdn.bootcss.com/Swiper/4.3.0/css/swiper.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/public/assets/css/project.css">
    <style>
        .gtf-activity-step {
            background-color: #FFFFFF;
            padding-left: 200px;
            padding-right: 200px;
            height: 50px;
        }

        .gtf-activity-title {
            font-size: 20px;
            color: #FFFFFF;
            margin-top: 30px;
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
<div id="vue-list">
    <!--导航条-->
    <nav class="navbar navbar-fixed-top gf-nav-navbar-custom gf-back-white gf-shadow-theme-color">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand gf-nav-logo-container" href="#">
                    <img alt="logo" src="/public/assets/img/logo/logo_small.png" class="gf-nav-logo">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">主页<span class="sr-only">(current)</span></a></li>
                    <li><a href="#">发现</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">发起活动</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">用户<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">个人中心</a></li>
                            <li role="separator" class="divider" style="margin: 8px 4px;"></li>
                            <li><a href="#">切换账户</a></li>
                            <li><a @click="logOut()">注销</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div style="padding-top: 50px"></div>
    <!--背景带-->
    <div class="gft-banner-bac"></div>
    <div class="gf-grandfather-container">
        <el-row>
            <el-col>
                <el-steps :active="activeStep"
                          class="gtf-activity-step"
                          finish-status="success"
                          simple>
                    <el-step title="活动基本信息"></el-step>
                    <el-step title="活动步骤"></el-step>
                    <el-step title="邀请好友"></el-step>
                    <el-step title="完成"></el-step>
                </el-steps>
            </el-col>
        </el-row>
        <div v-show="activeStep===0">
            <el-row>
                <el-col class="gtf-activity-title">
                    活动基本信息
                </el-col>
            </el-row>
            <el-row>
                <el-col style="background-color: #FFFFFF;padding: 35px 20px;border-radius: 8px;box-shadow: 0 2px 12px 0 rgba(129, 107, 226, .20);">
                    <el-form ref="form" :model="form" label-width="80px">
                        <el-form-item label="活动标题" placeholder="请输入活动标题">
                            <el-input v-model="form.name"></el-input>
                        </el-form-item>
                        <el-form-item label="活动地区">
                            <el-select v-model="form.region" placeholder="市">
                                <el-option label="区域一" value="shanghai"></el-option>
                                <el-option label="区域二" value="beijing"></el-option>
                            </el-select>
                            <el-select v-model="form.region" placeholder="城市" style="margin-left: 10px;">
                                <el-option label="区域一" value="shanghai"></el-option>
                                <el-option label="区域二" value="beijing"></el-option>
                            </el-select>
                            <el-select v-model="form.region" placeholder="区" style="margin-left: 10px;">
                                <el-option label="区域一" value="shanghai"></el-option>
                                <el-option label="区域二" value="beijing"></el-option>
                            </el-select>
                            <el-select v-model="form.region" placeholder="街道/乡镇" style="margin-left: 10px;">
                                <el-option label="区域一" value="shanghai"></el-option>
                                <el-option label="区域二" value="beijing"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="个人邮箱" style="display: inline-block">
                            <el-input placeholder="Email"></el-input>
                        </el-form-item>
                        <el-form-item label="手机" style="display: inline-block">
                            <el-input placeholder="Phone"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" style="background: #82B1F3;">快速添加</el-button>
                        </el-form-item>
                        <el-form-item label="活动人数" style="display: inline-block">
                            <el-input placeholder="请输入人数上限"></el-input>
                        </el-form-item>
                        <el-form-item label="费用" style="display: inline-block">
                            <el-select placeholder="选择平摊方式">
                                <el-option label="AA制平摊" value="shanghai"></el-option>
                                <el-option label="发起人承包" value="beijing"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="活动形式">
                            <el-input type="textarea"
                                      :rows="5"
                                      placeholder="请输入活动简介..."
                                      v-model="form.desc">
                            </el-input>
                            <el-button plain style="margin-top: 20px;">添加图片</el-button>
                        </el-form-item>
                    </el-form>
                    <div style="text-align: center">
                        <el-button type="primary"
                                   style="width: 200px;height: 40px;background: #82B1F3;border-radius: 20px;">下一步
                        </el-button>
                    </div>
                </el-col>
            </el-row>
        </div>
        <div v-show="activeStep===1">
            <el-row>
                <el-col class="gtf-activity-title">
                    步骤详情编辑
                </el-col>
            </el-row>
            <el-row>
                <el-col style="background-color: #FFFFFF;padding: 35px 20px;border-radius: 8px;box-shadow: 0 2px 12px 0 rgba(129, 107, 226, .20);">
                    <el-tabs v-model="TwoActiveStep"
                             style="margin-left:12px;margin-bottom: 15px;"
                             @tab-click="handleClick">
                        <el-tab-pane label="第1步" name="first"></el-tab-pane>
                        <el-tab-pane label="第2步" name="second"></el-tab-pane>
                        <el-tab-pane label="第3步" name="third"></el-tab-pane>
                        <el-tab-pane label="第4步" name="fourth"></el-tab-pane>
                    </el-tabs>
                    <div style="margin: 20px 0 20px 12px;">
                        <el-button type="primary" style="background: #82B1F3;">返回概览</el-button>
                        <el-button plain style="border:1px solid #82B1F3;color:#82B1F3">添加一步</el-button>
                    </div>
                    <el-form ref="form" :model="form" label-width="80px">
                        <el-form-item label="活动标题" placeholder="请输入活动标题">
                            <el-input v-model="form.name"></el-input>
                        </el-form-item>
                        <el-form-item label="活动地区">
                            <el-select v-model="form.region" placeholder="市">
                                <el-option label="区域一" value="shanghai"></el-option>
                                <el-option label="区域二" value="beijing"></el-option>
                            </el-select>
                            <el-select v-model="form.region" placeholder="城市" style="margin-left: 10px;">
                                <el-option label="区域一" value="shanghai"></el-option>
                                <el-option label="区域二" value="beijing"></el-option>
                            </el-select>
                            <el-select v-model="form.region" placeholder="区" style="margin-left: 10px;">
                                <el-option label="区域一" value="shanghai"></el-option>
                                <el-option label="区域二" value="beijing"></el-option>
                            </el-select>
                            <el-select v-model="form.region" placeholder="街道/乡镇" style="margin-left: 10px;">
                                <el-option label="区域一" value="shanghai"></el-option>
                                <el-option label="区域二" value="beijing"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="个人邮箱" style="display: inline-block">
                            <el-input placeholder="Email"></el-input>
                        </el-form-item>
                        <el-form-item label="手机" style="display: inline-block">
                            <el-input placeholder="Phone"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" style="background: #82B1F3;">快速添加</el-button>
                        </el-form-item>
                        <el-form-item label="活动人数" style="display: inline-block">
                            <el-input placeholder="请输入人数上限"></el-input>
                        </el-form-item>
                        <el-form-item label="费用" style="display: inline-block">
                            <el-select placeholder="选择平摊方式">
                                <el-option label="AA制平摊" value="shanghai"></el-option>
                                <el-option label="发起人承包" value="beijing"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="活动形式">
                            <el-input type="textarea"
                                      :rows="5"
                                      placeholder="请输入活动简介..."
                                      v-model="form.desc">
                            </el-input>
                            <el-button plain style="margin-top: 20px;">添加图片</el-button>
                        </el-form-item>
                    </el-form>
                    <div style="text-align: center">
                        <el-button type="primary"
                                   style="width: 200px;height: 40px;background: #82B1F3;border-radius: 20px;">下一步
                        </el-button>
                    </div>
                </el-col>
            </el-row>
        </div>

    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/Swiper/4.3.0/js/swiper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="/public/common/helper/gf-helper.js"></script>
<script>
    var vm = new Vue({
        el: '#vue-list',
        delimiters: ['${', '}'],
        data: {
            activeStep: 1,

            form: {
                name: '',
                region: '',
                date1: '',
                date2: '',
                delivery: false,
                type: [],
                resource: '',
                desc: ''
            },

            TwoActiveStep: '',


        },
        methods: {},
        created: function () {

        },
    });
</script>