<!--主体部分-->
<div id="vue-list" class="gf-grandfather-container" v-cloak>
    <div class="gf-standard-container">
        <div style="margin-bottom: -22px">
            <el-form :model="region">
                <el-form-item label="地区">
                    <el-row :gutter="20">
                        <el-col :span="5">
                            <el-select v-model="region.provinceObj"
                                       value-key="province_code"
                                       :disabled="false"
                                       placeholder="省"
                                       @change="afterSelectProvince()"
                                       @focus="focusSelectProvince()">
                                <el-option :value="item"
                                           :label="item.province_name"
                                           v-for="(item,index) in provinceList"
                                           :key="index">
                                </el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="5">
                            <el-select v-model="region.cityObj"
                                       value-key="city_code"
                                       :disabled="!region.isSelectProvince"
                                       @change="afterSelectCity()"
                                       @focus="focusSelectCity()"
                                       placeholder="城市">
                                <el-option v-for="(item,index) in cityList"
                                           :value="item"
                                           :label="item.city_name"
                                           :key="index">
                                </el-option>
                            </el-select>
                        </el-col>
                        <el-col :span="5">
                            <el-select v-model="region.areaObj"
                                       value-key="area_code"
                                       :disabled="!region.isSelectCity"
                                       @change="afterSelectCounty()"
                                       @focus="focusSelectArea()"
                                       placeholder="区/县">
                                <el-option v-for="(item,index) in areaList"
                                           :value="item"
                                           :label="item.area_name"
                                           :key="index">
                                </el-option>
                            </el-select>
                        </el-col>
                    </el-row>
                </el-form-item>
                <el-form-item label="时间">
                    <el-row :gutter="20">
                        <el-col :span="20">
                            <el-date-picker
                                    v-model="activityDate"
                                    type="datetimerange"
                                    start-placeholder="开始日期"
                                    end-placeholder="结束日期"
                                    :default-time="['12:00:00']">
                            </el-date-picker>
                        </el-col>
                    </el-row>
                </el-form-item>
                <el-form-item label="类别">
                    <el-row :gutter="20">
                        <el-col :span="20">
                            <el-radio-group v-model="activityType">
                                <el-radio :label="1">漫展</el-radio>
                                <el-radio :label="2">演唱会</el-radio>
                                <el-radio :label="3">观赏</el-radio>
                                <el-radio :label="4">交友</el-radio>
                            </el-radio-group>
                            <!--<el-checkbox-group v-model="activityType">-->
                                <!--<el-checkbox label="漫展" name="type"></el-checkbox>-->
                                <!--<el-checkbox label="演唱会" name="type"></el-checkbox>-->
                                <!--<el-checkbox label="观赏" name="type"></el-checkbox>-->
                                <!--<el-checkbox label="交友" name="type"></el-checkbox>-->
                            <!--</el-checkbox-group>-->
                        </el-col>
                    </el-row>
                </el-form-item>
                <el-form-item label="价格">
                    <el-row :gutter="20">
                        <el-col :span="20">
                            <el-radio-group v-model="activityPrice">
                                <el-radio :label="1">100以下</el-radio>
                                <el-radio :label="2">100~1k</el-radio>
                                <el-radio :label="3">1k~5k</el-radio>
                                <el-radio :label="4">5k~3w</el-radio>
                                <el-radio :label="5">3w~10w</el-radio>
                                <el-radio :label="6">10w以上</el-radio>
                            </el-radio-group>
                            <!--<el-checkbox-group v-model="activityPrice">-->
                                <!--<el-checkbox label="100以下" name="type"></el-checkbox>-->
                                <!--<el-checkbox label="100~1k" name="type"></el-checkbox>-->
                                <!--<el-checkbox label="1k~5k" name="type"></el-checkbox>-->
                                <!--<el-checkbox label="5k~3w" name="type"></el-checkbox>-->
                                <!--<el-checkbox label="3w~10w" name="type"></el-checkbox>-->
                                <!--<el-checkbox label="10w以上" name="type"></el-checkbox>-->
                            <!--</el-checkbox-group>-->
                        </el-col>
                    </el-row>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="onSubmitActivityForm">筛选</el-button>
                </el-form-item>
            </el-form>
        </div>
    </div>
    <div class="gtf-discovery-list-container">
        <el-row :gutter="20">
            <el-col :span="16">
                <div class="gf-standard-container">
                    <div class="gf-font-title">活动列表</div>
                    <div class="gft-activity-list">
                        <div v-for="(activityItem,index) in activityList"
                             class="gft-activity-list-item"
                             @click="showActivityPreview(index)"
                             :key="index">
                            <el-row :gutter="30" type="flex" justify="space-around">
                                <img :src="activityItem.images_path" class="gf-img-cover">
                                <el-col :span="12">
                                    <div class="gf-list-subtitle gf-content-limited gf-font-subtitle">
                                        ${activityItem.activity_title}
                                    </div>
                                    <div class="gf-font-minor">
                                        2018.08.31 19:30 - 2018.08.31 22:30
                                    </div>
                                    <div class="gf-font-minor">
                                        凯迪拉克·上海音乐厅大厅 - 上海
                                    </div>
                                </el-col>
                                <div class="gf-number-container ">
                                    <div class="gf-font-l">${activityItem.join_user_num}</div>
                                    <div class="gf-font-s">加入</div>
                                    <div class="gf-font-xs" style="padding-top: 10px">
                                        <span>收藏：</span>
                                        <span>${activityItem.join_user_num}</span>
                                    </div>
                                </div>
                            </el-row>
                        </div>
                    </div>
                    <!--<div class="gtf-page-container">-->
                        <!--<el-pagination-->
                                <!--layout="prev, pager, next"-->
                                <!--:total="50">-->
                        <!--</el-pagination>-->
                    <!--</div>-->
                </div>
            </el-col>
            <el-col :span="8">
                <div class="gf-standard-container">
                    <a @click="goToActivityDetail(index)">
                        <div class="gf-font-title gf-content-limited-single gf-cursor-pointer">
                            ${activityDetail.activity_title}
                        </div>
                    </a>
                    <div class="gf-user-container">
                        <el-row type="flex" align="middle">
                            <img src="/public/assets/img/head_default.png" class="gf-img-user-head-photo">
                            <div class="gf-user-right-container gf-font-l">
                                <div class="gf-font-m gf-cursor-pointer" @click="handleUserInfo()">${activityDetail.user_name}</div>
                                <div class="gf-font-light">lv.03</div>
                            </div>
                        </el-row>
                    </div>
                    <div class="gf-step-list-container">
                        <el-collapse v-model="activeNames" @change="handleChange">
                            <el-collapse-item :title="stepItem.step_name"
                                              v-for="(stepItem,index) in activityDetail.activity_step_list"
                                              :name="index"
                                              :key="index">
                                <div class="gf-font-minor">${stepItem.start_time} - ${stepItem.end_time}</div>
                                <div class="gf-font-default">${stepItem.step_detail}</div>
                            </el-collapse-item>
                        </el-collapse>
                    </div>
                    <div class="gf-btn-standard gft-btn-position">立即参加</div>
                    <div class="gf-btn-standard gft-btn-position">收藏</div>
                </div>
            </el-col>
        </el-row>
    </div>
</div>


<script type="text/javascript">
    var vm = new Vue({
        el: '#vue-list',
        delimiters: ['${', '}'],
        data: {
            default_native_places_list: defaultNativePlacesList,//地点列表
            provinceList: [],
            cityList: [],
            areaList: [],
            region: {
                province: '',
                city: '',
                area: '',
                provinceObj: {},
                cityObj: {},
                areaObj: {},
                isSelectProvince: false,
                isSelectCity: false,
                isSelectCounty: false,
            },
            activityDate: '',//活动日期
            activityType: 0,//活动类型
            activityPrice: 0,//活动价格
            activityList: [],//活动列表
            choseActivityId:'',
            activityDetail: {},//活动详情
            chooseActivityId: '',//选中的活动的ID
            activeNames: [],//活动名称
        },
        methods: {
            onSubmitActivityForm:function() {
                var that = this;
                var obj = {
                    'region': {
                        'province': that.region.provinceObj.province_code,
                        'city': that.region.cityObj.province_code,
                        'area': that.region.area_code,
                    },
                    'activityDate': that.activityDate,
                    'activityType': that.activityType,
                    'activityPrice': that.activityPrice,

                };
//                console.log(obj);

                that.getActivityList(that, function (res, callbackObj) {
                    callbackObj.activityList = res.obj.activity_list;
                });

            },

            handleChange:function(val) {
                console.log(val);
            },

            //获取数据部分
            getActivityList:function(obj, callback){
                var that = this;
                var url = API_SERVER_URL.GREAT_FUN + '/activity/getActivityList';
                var args = {
                    "args": {
                        "page_size": 0,
                        "page_index": 1,
                        "start_time": "",
                        "end_time": "",
                        "cost_num_type": that.activityPrice,
                        "keywords": "",
                        "province_code": "",
                        "city_code": ""
                    }
                };

                axios.post(url, args)
                    .then(function (response) {
//                        console.log(response);
                        var res = response.data;
                        if (res.retcode === 0) {
                            callback(res, obj);
                        } else {
                            console.log(res.message.prompt);
                        }
                    })
                    .catch(function (error) {
                        console.error(error);
                    });
            },

            getActivityDetail:function(obj, callback){
                var that = this;
                var url = API_SERVER_URL.GREAT_FUN + '/activity/getActivityDetail';
                var args = {
                    "args": {
                        "activity_id": obj.choseActivityId,
                    }

                };
                axios.post(url, args)
                    .then(function (response) {
                        var res = response.data;
                        if (res.retcode === 0) {
                            callback(res, obj);
                        } else {
                            console.log(res.message.prompt);
                        }
                    })
                    .catch(function (error) {
                        console.error(error);
                    });
            },

            getLogInfo:function(obj, callback){
                var that = this;
                var url = API_SERVER_URL.GREAT_FUN + '/common/userLogin';
                var args = {
                    "args": {
                        "email_address": "email_address"
                    }

                };
                axios.post(url, args)
                    .then(function (response) {
                        var res = response.data;
                        if (res.retcode === 0) {
                            callback(res, obj);
                        } else {
                            console.log(res.message.prompt);
                        }
                    })
                    .catch(function (error) {
                        console.error(error);
                    });
            },

            //业务部分
            logOut:function(){
                sessionStorage.setItem('isLogin', false);
                sessionStorage.removeItem('userObj');
            },

            logIn:function(){
                var that = this;
                var callback = function (res, obj) {
                    if (res.retcode = 0) {
                        that.$message({
                            message: '登录成功',
                            type: 'success'
                        });
                    } else {
                        that.$message.error('登录失败');
                    }
                };
                that.getLogInfo(that, callback);
            },

            showActivityPreview:function(index){
                var that = this;
                that.choseActivityId = that.activityList[index].activity_id;
                that.getActivityDetail(that, function (res, obj) {
                    obj.activityDetail = res.obj;
                })
            },

            goToActivityDetail:function(index){
                var that = this;
                sessionStorage.setItem('GF_ACTIVITY_DETAIL', JSON.stringify(that.activityDetail));
                location.href = "/front/web/activity/activityDetail";
            },

            //地点选择器
            afterSelectProvince:function(){
                var that = this;
                var item = that.region;
                item.isSelectProvince = true;
                item.province = item.province_name;

                that.getCityList(that, function (res, callbackObj) {
                    callbackObj.cityList = res.obj.city_list;
            });

            },

            focusSelectProvince:function(){
                var that = this;
                var item = that.region;
                item.isSelectProvince = false;
                item.isSelectCity = false;
                item.cityObj = {};
                item.city = '';
            },

            afterSelectCity:function(){
                var that = this;
                var item = that.region;
                item.isSelectCity = true;
                item.city = item.cityObj.name;

                that.getAreaList(that, function (res, callbackObj) {
                    callbackObj.areaList = res.obj.area_list;
                });

            },

            focusSelectCity:function(){
                var that = this;
                var item = that.region;
                item.isSelectCity = false;
                item.areaObj = {};
                item.area = '';
            },

            afterSelectCounty:function(){
                var that = this;
                var item = that.region;
                item.isSelectCounty = true;
                item.area = item.areaObj.name;
                console.log(item);
            },

            focusSelectArea:function(){

            },


            handleUserInfo:function (index) {
                var that = this;
                var userId = that.activityDetail.user_id;
                that.goToUserCenter(that,userId);
            }
        },
        created: function () {
            var that = this;
            that.getProvinceList(that, function (res, callbackObj) {
                callbackObj.provinceList = res.obj.province_list;
            });
            that.getActivityList(that, function (res, callbackObj) {
                callbackObj.activityList = res.obj.activity_list;
                that.showActivityPreview(0);
            });
        },
    });
</script>
